/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

header {
    font-family: "Edu TAS Beginner", sans-serif;
    padding: 35px 0;
    background-image: url(../img/wall.png);
    background-size: cover;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}