/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body{
    background-image: url(../img/cork.png);
    font-family: "Edu TAS Beginner", sans-serif;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

img{
    display: block;
}

.d-none{
    display: none;
}

/* header */

header {
    padding: 35px 0;
    background-image: url(../img/wall.png);
    margin-bottom: 50px;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* main */

main .container{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

main .card-photo{
    width: 300px;
    background-color: #fff;
    padding: 18px;
    position: relative;
    box-shadow: 2px 3px 8px #00000089;
}

main .photo{
    width: 265px;
    height: 265px;
    margin-bottom: 18px;
    background-color: red;
}

main .card-photo h3{
    font-weight: 100;
    font-size: 1rem;
}

main img.pin-photo{
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
}

main .photo img.img-photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .card-photo span{
    font-family: "Sometype Mono", monospace;
    display: inline-block;
    margin-bottom: 10px;
    color: #6e6b6b;
}

main .card-photo h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* overlay */

 #overlay{
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 3;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #0000009e;
}

#overlay img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

#overlay button{
    font-size: 1.5rem;
    padding: 10px;
}


/* hover */

main .card-photo:hover{
    transform: rotate(10deg);
    z-index: 2;
}


















main p.error{
    font-size: 2.5rem;
    background-color: #e53c44;
    font-family: "Sometype Mono", monospace;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #fff;
    margin: 0 15px;
}